@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  font-size: 16px;
}
body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: Roboto;
}

a {
  color: aquamarine;
  font-size: 1rem;
  text-decoration: underline;
}
h1 {
  font-size: 3.125rem;
}

h2 {
  font-size: 2.625rem;
  font-weight: 300;
}

p {
  font-size: 1.3125rem;
  color: gray;
  margin-bottom: 1.3125rem;
}

img {
  margin-bottom: 1.3125rem;
}

.copyright {
  text-align: right;
  margin-right: 1rem;
}
